p.fancy{
    font-size: 30px;
    text-align: left;
    margin-left: 135px;
    margin-bottom: 200px;
    margin-top: 100px;
}

.about-hero p{
    margin-left: 40px;
}

.about-hero{
    display:flex;
    align-items: center;
}


#Learning p {
    font-size: 25px;
}
.philosophy{
    font-size: 70px;
    text-align: center;
    color: #CB8080;
    padding-top: -150px;
    }

#Believe p {
    font-size: 25px;
}

.USDept img{
    width: 450px;
    height: 310px;
    margin: 10px;
    padding-top: -100px;
    margin-left: 130px;
}

.Selectedprojects{
    margin-bottom: 100px;
    color: white;
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: -10px;
    margin-left: 135px;
}

.container {
    width: 5px;
    height: 10px;
    display: inline-flex;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    margin-left: 130px;
}

@media screen and (max-width: 768px) {
    .about-hero{
        flex-direction: column;
    }
}
