html {
    background-color: #282828;
    font-family: 'Roboto Slab', serif;
    margin-top: 300px;
}


.flexbox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.Selectedprojects{
    margin-bottom: 100px;
    color: white;
    font-size: 48px;
    margin-top: -100px;
    margin-bottom: -10px;
    margin-left: 135px;
}


.Case-study{
    display:flex;
}

.Case-study div{
    margin-top: 60px;
    margin-left: 135px;
}

.Case-study img{
    position: left;
    width: 450px;
    height: 310px;
    margin: 10px;
    padding-top: 50px;
    margin-bottom: 70px;
    margin-left: 135px;
}
.Case-study h3{
    font-size: 40px;
    text-align: left;
    color:#CB8080;
    margin-top: 100x;
    
}

#Give{
    text-align: right;
    font-size: 30px;
    color: white;
    margin-right:250px;
    margin-left: 665px;
    margin-bottom: 100px;
    margin-top: -250px;
}

#Buddy{
    text-align: right;
    font-size: 30px;
    color: white;
    margin-right: 300px;
    margin-left: 665px;
    margin-bottom: 100px;
    margin-top: -300px;
}

#Munch{
    text-align: right;
    font-size: 30px;
    color: white;
    margin-right: 300px;
    margin-left: 665px;
    margin-bottom: 100px;
    margin-top: -300px;
}

h3{
    margin-top: -10px;
}

@media only screen and (max-width: 768px) {
    body {
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }
  }

  @media only screen and (max-width: 320px) {
    body {
      font-size: 10px;
    }
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #424242;
    bottom: 0%;
    width: 100%;
    left: 0%;
}
.about_me a {
    letter-spacing: .2vw;
    border-radius: 12px;
    padding: 10px 20px;
    letter-spacing: right;
    color:#CB8080;
    padding: .5 1vw;
    /* This adds padding around our text */
    text-decoration: none;
    margin-left: 50px ;
    margin-left: 135px;
}

@media screen and (max-width: 768px) {
    .Case-study{
        flex-direction: column;
    }
}
